<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="products">
      <h2 data-cy="productsDetailsHeading"><span jhiTranslate="storeApp.products.detail.title">Products</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ products.id }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.products.articalName">Artical Name</span></dt>
        <dd>
          <span>{{ products.articalName }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.products.articalPrice">Artical Price</span></dt>
        <dd>
          <span>{{ products.articalPrice }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Nazad</span>
      </button>

      <button type="button" [routerLink]="['/products', products.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Izmeni</span>
      </button>
    </div>
  </div>
</div>
